body {
    background-color: #2b6777;
}

section.create-quiz {
    background-color: #c8d8e4;
    text-align: center;
    vertical-align: middle;
    max-width: 700px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.input {
    border-radius: 50px;
    height: 50px;
    border: 1px solid rgb(39, 39, 39);
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
}

.cross-btn {
    border: none;
    background-color: whitesmoke;
    font-size: 1.5em;
    color: grey;
}

.ques {
    margin-right: 5px;
}

tr {
    background-color: #c8d8e4;
    margin-bottom: 10px;
    text-align: left;
    width: auto;
}

th, td {
    margin-bottom: 10px;
}

th.first-child {
    border-top-left-radius: 40px;
    padding: 20px 0px 20px 20px;
}

th.last-child {
    border-top-right-radius: 40px;
    padding: 20px 20px 20px 0px;
}

th {
    border-bottom: 2px solid black;
}

td {
    border-bottom: 1px solid grey;
}

td.first-child {
    padding: 20px 0px 20px 20px;
}

td.last-child {
    padding: 20px 20px 20px 0px;
}

td.last-first-child {
    padding: 20px 0px 20px 20px;
    border: none;
    border-bottom-left-radius: 40px;
}

td.last-last-child {
    padding: 20px 20px 20px 0px;
    border: none;
    border-bottom-right-radius: 40px;
}

td.last-center-child {
    border: none;
    padding: 20px;
}

.center-child {
    padding: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

tbody, thead {
    width: 90%;
}

button.btn-list-quiz {
    background-color: #c8d8e4;
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
}

div.div-button {
    text-align: right;
}

section.list-quiz-section {
    max-width: 90%;
}